<% book.book_comments.each do |book_comment| %>
<tr>
 <td>
   <%= image_tag book.user.get_profile_image, size:"100x100" %><br>
   <%= link_to book_comment.user.name %> <!--showページへのpathいるかも-->
 </td>
 <td><%= book_comment.comment %></td>
 <td>
  <% if book_comment.user == current_user %>
   <%= link_to 'Destroy', book_book_comment_path(book_comment.book, book_comment), method: :delete, remote: true, class: "btn btn-sm btn-danger"%><!--ここまで一塊-->
  <% end %>
 </td>
<% end %>
</tr><br>

<div>
 <%= form_with model: [book, book_comment], local: false do |f| %>
  <%= f.text_area :comment, cols: '60' %>
  <%= f.submit "送信" %>
 <% end %>
</div>