<% if user_signed_in? %>
 <div class="search_form">
   <%= form_with url: search_path, local: true, method: :get do |f| %> <!--url: search_path　検索内容をルーティングに送信-->
    <%= f.text_field :word %> <!--検索内容をwordとしてアクションに送ってる-->
    <%= f.select :range, options_for_select([['User'], ['Book']]) %> <!--複数のモデルを検索できるように選択できるように。選択したモデルはrangeとして送ってる-->
    <%= f.select :search, options_for_select([["完全一致","perfect_match"],["前方一致","forward_match"], ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
    <!-- 検索手法を定義してsearchとしてアクションに送る-->
    <%= f.submit "検索" %>
   <% end %>
 </div>
<% end %>